<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PLAY THE GAME!</title>
        <link rel='stylesheet' href='/static/styles.css' />
    </head>
    <body class="main-page">
        <p>{{player_one}}</p>
        <p>{{player_two}}</p>
        <form method="post" class="main-page">
            <label for="player">QUESTION</label>
            <select name="player" class="main-page">
                <option value="one">PLAYER ONE {{player_one}}</option>
                <option value="two">PLAYER TWO {{player_two}}</option>
            </select>
            <br />
            <input type="submit" value="Submit" class="main-page">
        </form>
    </body>
</html>